md-toolbar
  .md-toolbar-tools.navigation-menu(layout-align="center")
    .logo
      a(ui-sref="home.index")
        img(src="images/cognizant-logo.png")
    span(flex)
    md-button(aria-label="home" ui-sref="home.index") Home
    md-button(aria-label="login" ui-sref="home.login") Login
    md-button(aria-label="signup" ui-sref="home.signup") Signup
ui-view