.dashboard-container(layout="row" layout-fill flex)
  md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left" md-is-locked-open="$mdMedia('gt-md')")
    md-toolbar.md-tall.md-hue-2
      .md-toolbar-tools-bottom.inset(layout="column" flex style="background-image: url({{dashboardCtrl.profile.avatarUrl}})")
        span(flex)
        .user-data-container(layout="column")
          #username {{dashboardCtrl.profile.username}}
          #email {{dashboardCtrl.profile.email}}
    md-list(flex layout="column")
      md-list-item(ng-repeat="item in dashboardCtrl.sidenavTopMenu" ui-sref-active='active-menu' ui-sref="{{item.ref}}")
        div(layout="row" layout-align="start center")
          .inset
            i.material-icons {{item.icon}}
          .inset {{item.title}}
      md-list-item
      md-divider
      md-subheader User Options
      md-list-item(ui-sref-active='active-menu' ui-sref="dashboard.user")
        div(layout="row" layout-align="start center")
          .inset
            i.material-icons person
          .inset Profile
      md-list-item( ng-click="dashboardCtrl.logout()")
        div(layout="row" layout-align="start center")
          .inset
            i.material-icons power_settings_new
          .inset Logout

  div(layout="column" flex)
    md-toolbar#dashboard-toolbar
      .md-toolbar-tools
        div(layout="row" layout-align="start center" flex)
          md-button.md-icon-button(aria-label="menu" hide-gt-md ng-click="dashboardCtrl.toggleSidenav('left')")
            i.material-icons menu
        div(layout="row" layout-align="start center")
          md-button.md-icon-button(aria-label="inbox")
            i.material-icons email


    md-content(layout-padding layout="column" flex)
      ui-view(flex)
      
    footer#main_footer(layout="row" layout-align="center" hide-md hide-sm hide-xs)
      div © 2016 Cognizant
          